@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.top-buffer {
  margin-top: 30px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.row.content {height: 450px}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

h3{
  margin-top: 10px;
  margin-bottom:10px;
}

/* .mainHolder {
  background-color:#f1f1f1;
  height:inherit;
}

.bodyContent {
    background-color: white;
} */

.sidenav {
  background-color: white;
}
